<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54968982795-80adgrjh6gvkr9ueg1pbh98vppbt8uq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54968982795-80adgrjh6gvkr9ueg1pbh98vppbt8uq8</string>
	<key>API_KEY</key>
	<string>AIzaSyB292SW9KAKXc79pQoKqRqTA2gy995kZx8</string>
	<key>GCM_SENDER_ID</key>
	<string>54968982795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bilel-Bouricha.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-3fcd7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-3fcd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54968982795:ios:8a2d73d59d9a3ec984960e</string>
</dict>
</plist>